.services {
    background-color: #121212;
    width: 100%;
}

.services__inner {
    padding-top: 151px;
    padding-bottom: 150px;
}

.service__title {
    margin-left: 2px;
    color:#FFFFFF;
}

.service__list {
    margin-bottom: 104px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    row-gap: 80px;
}

.service__card {
    position: relative;
    width: calc(50% - 5.5px);
}

.service__image {
    width: 100%;
    height: 390px;
    margin-bottom: 21.4px;
}


.service__price {
    position: absolute;
    color: #FFFFFF;
    left: 31px;
    top: 31px;
    font-size: 22px;
    line-height: 30px;
    background-color: #AD1818;
    border-radius: 5px;
    padding: 5px 20px;
}

.service__subtitle {
    font-size: 30px;
    line-height: 39px;
    color:#FFFFFF;
    margin-left: 4px;
}


.services__order {
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    letter-spacing: -0.032em;
    font: inherit;
    background-color: transparent;
    font-size: 30px;
    line-height: 41px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #AD1818;
    border-radius: 5px;
    padding: 56px;
}

.services__order:hover {
    color: #AD1818;
    background-color: #FFFFFF;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.popup_open {
    opacity: 1;
    visibility: visible;
    z-index: 100;
}

.body_fixed {
    overflow: hidden;
}

.popup__content {
    position: relative;
    width: 777px;
    max-height: 100%;
    overflow-y: scroll;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-left: 56px;
    padding-right: 76px;
}

.popup__title {
    margin-top: 94px;
    font-size: 45px;
    line-height: 61px;
    text-align: center;
    margin-bottom: 4px;
    margin-left: 9px;
}

.popup__feedback {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-left: 14.2px;
}

.input {
    display: block;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 98%;
    font-size: 25px;
    line-height: 34px;
    border-style: unset;
    border-bottom: 1px solid #000000;
}

.input:focus {
    outline: none;
}

.popup__btn-send {
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 86px;
    width: 100%;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #AD1818;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.popup__close-btn {
    position: absolute;
    right: 45px;
    top: 42px;
    width: 50px;
    height: 50px;
    background-image: url(../resources/cross.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;

}


/*****************************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/


@media (max-width: 1199px) {

    .services {
        margin-bottom: 120px;
    }

    .services__inner {
        padding-bottom: 120px;
    }

    .service__title {
        margin-left: 4px;
    }

    .service__list {
        margin-bottom: 81px;
    }

    .service__card {
        width: calc(50% - 5px);
    }

   .service__image {
    object-fit: cover;
    height: 315px;
    margin-bottom: 14px;
   }

   .service__price {
    font-size: 20px;
    line-height: 27px;
    padding: 7px 27px;
    margin-left: 3px;
    left: 28px;
    top: 33px;
   }

   .service__subtitle {
    font-size: 25px;
    line-height: 32px;
    margin-left: 0px;
   }

   .popup__title {
    margin-left: 11px;
   }

   .popup__feedback {
    margin-left: 21px;
   }

   .popup__close-btn {
    right: 54px;
   }

}

/*****************************************************************************************/
/*****************************************************************************************/
/*****************************************************************************************/

@media (max-width: 767px) {
    .services {
        margin-bottom: 80px;
    }

    .services__inner {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .service__list {
        flex-direction: column;
        margin-bottom: 61px;
        gap: 60px;
    }

    .service__card {
        width: 100%;
    }

    .service__image {
        height: 240px;
        margin-bottom: 6px;
    }

    .service__price {
        font-size: 14px;
        line-height: 19px;
        top: 23.7px;
        left: 24px;
        padding: 5px 23px;
    }

    .service__subtitle {
        font-size: 18px;
        line-height: 25px;
        margin-left: 2px;
    }

    .services__order {
        padding: 35px;
        font-size: 22px;
        line-height: 30px;
        border-radius: 3.6px;
        margin-left: 2px;
    }

    .popup__content {
        padding-left: 16px;
        padding-right: 24px;
    }

    .popup__title {
        font-size: 25px;
        line-height: 34px;
        margin-bottom: 11px;
    }

    .popup__feedback {
        font-size: 14px;
        line-height: 19px;
    }

    .input {
        font-size: 18px;
        line-height: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .popup__close-btn {
        width: 18px;
        height: 18px;
        right: 35px;
        top: 46px;
    }
}